*.nsys-rep
*.sqlite
__pycache__
*.log
*/.venv/

# microbench study
microbench/nsys_results/*
microbench/tmp/*


# thank_you study
thank_you/data/*
thank_you/logs/*
thank_you/static/*
thank_you/runs/*

# videos study
videos/data/*
videos/scripts/ContentV/*